<div class="auth-container">
  <h2>Login to Gather-N-Go</h2>
  <form class="auth-form login-form">
    <div class="form-group">
      <label for="email-login">Email or Username:</label>
      <input class="form-input" type="text" id="email-login" required />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" type="password" id="password-login" required />
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" id="remember-me" /> Remember Me
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
  <p class="auth-link">Don't have an account? <a href="/signup">Sign up here</a></p>
</div>

<script src="/js/login.js"></script>